body {
  background-color: #d4d1d1;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

fieldset {
  margin: 10px auto;
  width: 80%;
}

input {
  margin: 5px;
}

button {
  display: block;
  margin: 2px auto;
}